a {
    text-decoration: none;
}

/* Multiple Selectors */

/* p, a{
    color: green;
} */

/* .site-title, .title-para{
    color: red;
} */

/* #tp, a{
    color: blue;
} */

    /* ul a{
        color: green;
    } */

    /* li a{
        color: red;
    } */

    /* ul a, ol a{
        color: green;
    } */

    /* ul > a, ol > a{
        color: green;
    } */


        /* li:nth-child(4){
        background-color: aqua;
        /* font-size: 2rem; 
    } */

    /* li:nth-child(odd){
        background-color: gray;
    } */

    /* li:nth-child(even){
        background-color: lightgray;
    } */

    /* ul + a, ol + a{
        color: red;
    } */

    /* a[target="_blank"]{
        color: green;
    } */
    
    li[value="201"], li[value="400"]{
        background-color: yellow;
    }
